.body-login {
  background-color: #0b5cab;
  height: 110vh;
}

.logo-login {
  width: 90px;
  height: 69px;
  margin: 20px 0 0 20px;
}

.container-login {
  display: flex;
  flex-direction: column;
  width: 32%;
  background-color: #014c95;
  padding: 10px;
  align-items: center;
  border-radius: 23px;
  margin: auto;
  height: 80vh;
  margin-bottom: 30vh;
  justify-content: space-evenly;
}

.section-input {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.title-login {
  color: white;
  margin-top: -12%;
}

.campo-login {
  margin: 15px 0;
  border-radius: 15px;
  padding: 15px;
  width: 80%;
  border: none;
  outline: none;
  border-bottom: 1px solid black;
  background-color: #0958a7;
}

.campo-login::placeholder {
  color: white;
  opacity: 40%;
}

.container-checkbox {
  display: flex;
  align-self: flex-start;
  margin-left: 10%;
  color: white;
  align-items: flex-start;
}

.checkbox {
  margin-right: 5px;
  align-self: center;
}

.button-login {
  padding: 10px;
  background-color: #00a1e0;
  color: rgb(238, 238, 238);
  font-weight: bolder;
  font-size: larger;
  width: 48%;
}

.button-login:hover {
  cursor: pointer;
  background-color: #06668c;
  color: white;
  transition: 0.3s ease-in-out;
}

.forgotSenha {
  color: white;
  margin-top: -10%;
  font-size: smaller;
}

.notClient {
  display: flex;
  justify-content: center;
  margin: -25vh 0 10vh;
  color: white;
  align-items: center;
}

.signup-button {
  margin-left: 15px;
  padding: 8px;
  background-color: white;
  color: #00a1e0;
  font-weight: bolder;
  border: none;
}

.signup-button:hover {
  cursor: pointer;
  background-color: #014c95;
  color: white;
  transition: 0.4s ease-in-out;
}

@media screen and (max-width: 1050px) {
  .container-login {
    width: 52%;
  }
}

@media screen and (max-width: 945px) {
  .login {
    font-size: 25px;
  }

  .container-login {
    width: 65%;
    height: 60%;
  }

  .campo-login {
    padding: 13px;
  }

  .container-checkbox {
    font-size: 12px;
  }

  .notClient {
    font-size: 16px;
    margin-bottom: 5vh;
  }

  .signup-button {
    font-size: 12px;
  }

  .button-login {
    padding: 7px;
    font-size: 13px;
  }

  .forgotSenha {
    font-size: 13px;
  }
}

@media screen and (max-width: 750px) {
  .container-login {
    width: 52%;
  }
}

@media screen and (max-width: 520px) {
  .container-login {
    width: 62%;
    height: 50%;
  }

  .logo-login {
    width: 15%;
    height: 8%;
  }
}

@media screen and (max-width: 401px) {
  .container-login {
    width: 72%;
  }

  .logo-login {
    width: 17%;
  }
}
