* {
    margin: 0;
    padding: 0;
}

.title-crm {
    margin: 50px;
    color: #00A1E0;
    text-align: center;
    text-decoration: underline;
    font-style: italic;
}

.text-box {
    background-color:#C0EDFF;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    text-align: center;
    width: 40%;
    margin: auto;
    padding: 25px;
    width: 829px;
    height: 427px;
    font-size: larger;
    word-spacing: 3px;
    line-height: 2;

}

.doodle-bear {
    width: 400px;
    position: absolute;
    opacity: 50%;
}

.title2 {
    margin-top: 40vh;
    margin-left: 75px;
    color: #00A1E0;
    margin-bottom: 35px;
    font-size: 38px;
}

.crm-txt {
    max-width: 905px;
    margin-left: 47px;
    word-spacing: 3px;
    line-height: 1.8;
}

.doodle-goat {
    position: absolute;
    opacity: 70%;
    right: 0;
    width: 300px;
    height: 446px;
    margin-top: -20vh;
}

.title3 {
    margin: 100px 25px;
}

.container-crm {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    width: 997px;
    height: 537px;
    background-color: #C0EDFF;
    border-radius: 15px;
    padding: 25px;
    margin-left: 9vw;
    
    
}

.items {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-self: center;
    justify-content:center;
    
}

.item-image {
    margin: 5px;
}

.item-txt {
    width: 264px;
    text-align: center;
}

.texto {
text-align: center;
display: flex;
margin: auto;
width: 60%;
font-size: larger;
word-spacing: 3px;
line-height: 1.8;

}

.title-important {
    color: #00A1E0;
    display: flex;
    justify-content: center;
    margin-bottom: 25px;
    margin-top: 20vh;
    
}

.container-plataforma {
    display: flex;
    align-items: center;
    padding: 10px;
    justify-content: space-evenly;
}

.elemento {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 25px;
    width: 350px;
    border: #00A1E0 transparent 2px solid;
    padding: 20px;
    box-shadow: #00A1E0 2px 20px 20px 15px;
}



.elemento-txt {
    text-align: center;
    margin-top: 25px;
    width: 70%;
}

.container-last-crm {
    display: flex;
    justify-content: space-around;
    margin-top: 15vh;
}

.conteudo-crm {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title-crm-conteudo {
    color: #00A1E0;
    display: flex;
    margin-bottom: 25px;
    justify-content: center;
}

.conteudo-crm-container {
    width: 417px;
    height: 350px;
    text-align: center;
    line-height: 1.8;
    background-color: #C0EDFF;
    padding: 30px;
}


.dois {
    margin-top: 10vh;
}

.bird {
    position: absolute;
    opacity: 70%;
    margin: 150px;
}

@media screen and (max-width: 1440px) {
    .text-box {
        margin-right: 50px;
    }
}


@media screen and (max-width:1215px) {
    .container-plataforma {
        flex-wrap: wrap;
        align-items: center;
    }

    .text-box {
        height: fit-content;
        width: 65%;
    }

    .doodle-goat {
        margin-top: -40vh;
    }
    
    .crm-txt {
        width: 605px;
    }

    .container-crm {
        margin: 0;
        width: 100%;
    }
}


@media screen and (max-width:1000px) {
    .text-box {
        width: 55%;
    }

    .bird {
        margin-left: 20vw;
    }

    .crm-txt {
        width: 480px;
    }

    .elemento {
        margin-bottom: 10vh;

        
    }

    .container-last-crm {
        flex-wrap: wrap;
    }

    .conteudo-crm {
        margin: 25px;
    }

    
}

@media screen and (max-width:760px) {
    .text-box {
        line-height: normal;
    }

    .doodle-bear {
        width: 300px;
    }

    .crm-txt {
        width: 400px;
    }

    .doodle-goat {
        width: 250px;
    }

    .texto {
        font-size: 18px;
    } 

    .title-important {
        font-size: 28px;
    }

    .bird-crm {
        margin: 0;
    }
}


@media screen and (max-width:655px) {
    .text-box {
        width: 50%;
        word-spacing: normal;
    }

    .title-crm {
        font-size: 28px;
    }

    .title-important {
        font-size: 23px;
    }

    .crm-txt {
        width: 300px;
        word-spacing: normal;
    }

    .texto {
        width: 80%;
    }

    .item-image {
        width: 60%;
    }

    .item-txt {
        width: 200px;
    }

    
}


@media screen and (max-width:538px) {
    .text-box{
        font-size: 14px;
    }

    .doodle-bear {
        width: 200px;
    }

    .title-crm {
        font-size: 24px;
    }

    .doodle-goat {
        width: 200px    ;
    }

    .crm-txt {
        width: 280px;
        font-size: 15px;
    }

    .container-crm {
        height: fit-content;
    }

    .items {
        margin: 10px;
    }

    .title-important {
        font-size: 20px;
    }

    .texto {
        font-size: 14px;
    }
}

@media screen and (max-width:485px) {
    .container-last-crm {
        justify-content: center;
    }

    .crm-txt {
        width: 200px;
        font-size: 13px;
    }

    .title-important {
        font-size: 16px;
    }

    .texto {
        font-size: 12px;
    }

    .title-crm {
        font-size:22px ;
    }

    .conteudo-crm-container {
        width: 317px;
        height: fit-content;
    }

    .title3 {
        font-size: 20px
    }

    .doodle-goat {
        width: 160px;
    }

    .elemento-img {
        width: 70%;
    }

    .title2 {
        font-size: 28px;
    }

    .doodle-bear {
        width: 150px;
    }

    .text-box {
        width: 55%;
        padding: 20px;
        font-size: 13px;
    }
}

