* {
    margin: 0;
    padding: 0;
}

.subheader {
    background-color:#0B5CAB;
    display: flex;
    justify-content: space-evenly;
    
}

.botoes {
    display: flex;
    justify-content: space-evenly;
    margin-bottom: auto;
}

.header-text {
    display: flex;
    flex-direction: column;
    width: 23%;
    margin-top: 48px;
    text-align: center;
}

.header-text h2 {
    color: white;
    font-size: 30px;
    padding: 10px;
    margin-bottom: 20px;
    
}


.botoes button {
    padding: 10px;
    font-size: medium;
    font-weight: bolder; 
    color: #0B5CAB;
    background-color: white;
    border-radius: 10px;
    cursor: pointer;

}

.header-text p {
    color: white;
    padding: 10px;
    margin: 20px;
    font-size: large;
}

.imgCustomer {
    width:345px;
    height: 270px;

}



@media screen and (max-width:1300px) {
    .header-text p {
        font-size: 14px;
        margin: 10px 0px 20px;
    }

    .botoes button {
        font-size: 11px;
    }

    
    .header-text h2 {
        font-size: 20px;
    }
}

@media screen and (max-width:875px) {
    .header-text h2 {
        font-size: 16px;
    }

    .header-text p {
        font-size: 11px;
    }

    .botoes a {
        margin-right: 4px;
    }
}

@media screen and (max-width:610px) {

    .header-img {
        display: flex;
        justify-content: end;
    }

    .imgCustomer {
        width: 90%;

    }

    .header-text {
        width: 28%;
    }

    .header-text h2 {
        font-size: 13px;
        margin-bottom: 12px;
    }

    .header-text p {
        font-size: 9px;
    }


}

@media screen and (max-width:500px) {
    .imgCustomer {
        width: 80%;
        height: 80%;
    }

    .header-text {
        width: 35%;
        margin-left: 15px;
    }

    .botoes button {
        font-size: 10px;
        padding: 5px;
    }
}

@media screen and (max-width:400px) {
    .header-text h2 {
        font-size: 13px;
    }
}