* {
    margin: 0;
    padding: 0;
}

.header {
    display: flex;
    justify-content: space-between;
    width: 100vw;
    height: 10vh;
    background-color: #0B5CAB;
}

.left-side {
    display: flex;
    align-items: center;
    margin-left: 25px;
    width: 50%;
}

.searchbar {
    padding: 8px;
    width: 30%;
    background-image: url('./search.png');
    background-size: 20px;
    background-repeat: no-repeat;
    background-position: 5px center;
    border: 2px solid transparent;
    border-radius: 5px;
    position: relative;
    padding-left: 30px;
    outline: none;
}

.right-side {
    display: flex;
    align-items: center;
    width: 30%;
    justify-content: space-around;
}

.links,
.links a {
    color: white;
    text-decoration: none;
    position: relative;
}

.links a:hover {
    color: #000000;
    transition: 0.5s ease-in-out;
}

.links a::before,
.links a::after {
    content: '';
    position: absolute;
    width: 0;
    height: 2px; /* Altura do underline */
    bottom: -2px;
    transition: width 0.8s ease-in-out;
    background-color: #000000; /* Cor do underline */
}

.links a::before {
    left: 50%; 
}

.links a::after {
    right: 50%;
}

.links a:hover::before,
.links a:hover::after {
    width: 45%; 
}


.logo {
    width: 109px;
    height: 79px;
    margin-right: 30px;
}

.user {
    width: 23px;
    margin-right: 12px;
    
}