.footer {
    display: flex;
    flex-direction: row;
    justify-content:space-evenly;
    background-color: #0B5CAB;
    max-height: 10vh;
    padding:20px 0;
    align-items: center;
    margin-top: 100px;
    position: fixed;
    width: 100%;
    bottom: 0;
}

.footer a {
    text-decoration: none;
    color: white;
    
}

.footer a:hover {
    transition: 0.4s ease-in-out;
    transform: scale(1.2);
    text-decoration: underline;
}


@media screen and (max-width:500px) {
    .footer a {
        font-size: 10px;
    }
}

